pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "emailpipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sendemaillava.azurewebsites.net:443/api/Emailsuccess/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=iMa-Ych6QtoCGgssQDFMUd1kldt0jZgVh5FVrb--bDk",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE RUN FAILED\",\n\"message\":\"{@activity('Execute Pipeline1').output}\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Failure Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sendemaillava.azurewebsites.net:443/api/Emailsuccess/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=iMa-Ych6QtoCGgssQDFMUd1kldt0jZgVh5FVrb--bDk",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE RUN FAILED\",\n\"message\":\"{@activity('Execute Pipeline1').error.message}\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}